.team-container {
  background-color: black;
  opacity: 0.7;
  height: 135px;
  white-space: nowrap;
  overflow: overlay;
  text-overflow: ellipsis
}

.team-content {
    font-size: 20px;
    text-align: justify;
}